@media screen and (max-width:576px) {
    .navebar{
        flex-direction: column;
        
    }
    .navebar{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #nav-humber{
        display: block;


    }
    .nav-btn-container{
        display: none;
    }
    .banner-container{

        height: auto;
        max-width: 100%;
        flex-direction: column;
        justify-content: center;
        /* padding:30px 10px; */
     }
     .banner-main{

        width: 100%;
        justify-content: center;

     }
     .button-content{

        width: 100%;
        justify-content: center;
        
     }

     .Join{
        max-width:100%;
        /* font-size:10px;
        height: auto; */

     }
     .downlod{
        max-width:100%;
        /* font-size:10px;
        height: auto; */
     }
     .video-tutorial-titile{
        position: absolute;
        bottom: 100px;
        left:20px;
        display: flex;
        justify-content: center;
     }


    
}