@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    background-color:rgba(0, 0, 0) ;
    font-family: "Inter", sans-serif;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    color:#ffffff;
    /* background: rgb(0, 0, 0); */
}
.main-continer{
    width: 100%;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    padding:0 20px;
    /* border:2px solid red; */
}
/* navbar strart  */
.navebar{
    margin:0 auto;
    
    width: 65rem;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.fitness-titile{
    margin-top:20px;
    color:rgb(230,83,60);
    font-size: 30px;
    font-weight: 900;


}
.navbar, ul{
    
    display:flex;
    align-items: center;
    margin-top: 20px;

}
.navbar, ul ,li {
    
    list-style: none;
    /* margin-left: 20px; */
 }
 button{
    color:white;
    padding: 5px  10px;
    background-color: black;
    font-size: 20px;
    font-weight: 400px;
    border-style: none;


 }
 .home-btn{
    background-color:rgb(230,83,60); 
    padding:10px 15px;
    border-radius: 20px;
 }
 .navebar ul{
    display: flex;
    align-items: center;
 }
 #nav-humber{
    display: none;
 }
 /* navebar end */

 /* banner section strat */
 .banner-container{
    
    width: 1040px;
    /* border: 2px solid red; */
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
 }
 .banner-main{
    /* border:2px solid red; */
    width: 450px;
    height: 400px;
    margin-top: 120px;
 }
 .banner-main h2{
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;

 }
 .banner-main p{
    font-size: 16px;
    font-weight: 400px;
    margin-top:20px;
 }
 .button-content{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

 }
 .Join ,.downlod{

    width: 230px;
    width: 210px;
    height: 50px;
    padding:16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230,83,60);
    border-radius: 50px;
    border: none;
    font-size:20px;
    font-weight: 600;


 }
 .banner-main p{
   font-size: 14px;
   font-weight: 400;
   color: rgba(239, 237, 232, 0.65);
 }
 .downlod{
    background-color: black;
    border:1px solid rgb(255, 255, 255);
 }
 .shape{
   font-size: 110px;
   font-family: 'Miama', sans-serif;
   line-height: 20px;
   font-weight: 900;
                                                
 }
 .banner-image, img{
   width: 300px;
   height: 500px;
   margin-top: 40px;
   display: flex;



 }
 .card-container{

   position: relative;
 }
 .video-tutorial-titile{
   border:2px solid red;
   position: absolute;
   left: 680px;
   bottom:100px;
   width: 200px;
   height: 96px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap:20px;
   border-radius: 16px;
   backdrop-filter: blur(20px);
   background: rgba(48, 48, 48, 0.54);

   

 }
 .circle{
   width: 40px;
   height: 40px;
   background-color: rgb(230,83,60);
   border-radius: 50%;
 }
 .video-text h3{

   font-size: 25px;
   font-weight: 900;
   font-family: "Inter", sans-serif;

 }
 .video-text  p{
   font-size: 14px;
   font-weight: 400;
   color: rgba(239, 237, 232, 0.65);
 }
 .Workout-container{
   /* border:2px solid red; */
   position: absolute;
   left:970px;
   bottom:320px;

   width:170px;
   height: 95px;
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius: 12px;
   backdrop-filter: blur(20px);
   background: rgba(255, 255, 255, 0.1);


 }
 .workout-text{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

 }
 .workout-text h3{
   font-size: 40px;
   font-weight: 900;

 }
 .workout-text p{
   font-style: 14px;
   font-weight: 400;
   color: rgba(239, 237, 232, 0.65);
 }
